<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 连接到的接口 -->
<mapper namespace="com.dao.NewsMapper">

    <!-- <insert id="addBlog" parameterType="com.wlh.entity.Blog"> </insert> -->
    <resultMap type="News" id="newsResultMap">
        <!-- 将数据库字段与实体类属性相对应 -->
        <!-- 主键的设置 column:数据库表字段名 property：实体类的属性名称 -->
        <id column="news_id" property="news_id"/>
        <!-- 其余字段 -->
        <result column="up" property="up"/>
        <result column="substance" property="substance"/>
        <result column="news_title" property="news_title"/>
        <result column="second_title" property="second_title"/>
        <result column="reg-time" property="reg_time"></result>
        <result column="news_detail" property="news_detail"></result>

        <association property="type" column="type_id" javaType="NewsType">
            <id property="typeId" column="type_id"></id>
            <result property="typeName" column="type_name"></result>
        </association>
    </resultMap>

    <!-- 查询 -->
    <select id="getAllNews" resultMap="newsResultMap">
		SELECT * FROM news a, newstype b WHERE a.type_id = b.type_id;
	</select>

</mapper>